:root {
  --color-rosewater: #f5e0dc;
  --color-flamingo: #f2cdcd;
  --color-pink: #f5c2e7;
  --color-mauve: #cba6f7;
  --color-red: #f38ba8;
  --color-maroon: #eba0ac;
  --color-peach: #fab387;
  --color-yellow: #f9e2af;
  --color-green: #a6e3a1;
  --color-teal: #94e2d5;
  --color-sky: #89dceb;
  --color-sapphire: #74c7ec;
  --color-blue: #89b4fa;
  --color-lavender: #b4befe;
  --color-text: #cdd6f4;
  --color-subtext-1: #bac2de;
  --color-subtext-0: #a6adc8;
  --color-overlay-2: #9399b2;
  --color-overlay-1: #7f849c;
  --color-overlay-0: #6c7086;
  --color-surface-2: #585b70;
  --color-surface-1: #45475a;
  --color-surface-0: #313244;
  --color-base: #1e1e2e;
  --color-mantle: #181825;
  --color-crust: #11111b;
  background-color: var(--color-crust);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board-root {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.board {
  border-collapse: collapse;
}

.board-row {
  display: flex;
  flex-direction: row;
  gap: 0;
  border-collapse: separate;
}

.square {
  background: var(--color-base);
  border: 1px solid var(--color-flamingo);
  aspect-ratio: 1/1;
  min-width: 75px;
}

.square > button {
  all: unset;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--color-flamingo);
  font-weight: bold;
  font-size: 21px;
}

h2 {
  padding: 0;
  margin: 0;
  text-align: center;
}